.navBar_wrap{

    width: 1350px;
    display: flex;
    position: relative;
    flex-flow: row no-wrap;
    justify-content: start;
    align-items: start;
  }
  .navBar_list_wrap{
    position: relative;
    width: 200px;
    margin-right: 80px;
    /* border:1px solid rgb(255, 0, 187); */
    left: 30px;

    /* margin-left: 50px; */
  }
  
  .navBar_userLogo{
    margin-top: 25px;
    margin-bottom: 27px;
    display: block;
    width: 40px;
    height: 40px;
    border-radius:50px;
    border:1px solid black;
  }
  
  .navBar_list_block_img{
    width: 24px;
    height: 24px;
    margin-right: 18px;
  }
  .navBar_list_block_text{
    
    color:#292D32;
    font-family: Rubik;
    text-decoration: none;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .outlet_Block{
    display: flex;
    justify-content: space-around;
    width: 1140px;
    /* border:3px green solid; */
  }
   @media screen and (max-width:1200px){
    

   }