.postList_wrapper{
    width: 738px;
    min-height: 200px;
    border-radius: 10px;
    background: #F1F1F1;
    border: 1px solid #E4E4E4;
    box-sizing: border-box;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
}