.navBar_wrap{
    width: 335px;
    height: 1000px;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
}


.navBar_userLogo{
    margin-top: 25px;
    margin-bottom: 27px;
    display: block;
    width: 40px;
    height: 40px;
}

.navBar_list_block_img{
    width: 18px;
    height: 18px;
    margin-right: 18px;
}
.navBar_list_block_text{
    
    color:#A9A9A9;
    font-family: Rubik;
    text-decoration: none;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

