.postAddForm-wrapper{
    margin: 20px auto;
    width: 738px;
    height: 193px;
    border-radius: 10px;
    background: #F1F1F1;
    border: 1px solid #E4E4E4;
    box-sizing: border-box;
}
.postAddForm-item{
    width: 709px;
    height: 117px;
    border-radius: 10px;
    background: #FFF;
    margin: 16px auto;
}
.postAddForm-item-inputText{
    margin-left: 5px;
    width: 690px;
    height: 40px;
    margin-bottom: 30px;
    border-radius: 10px;
    border:1px solid transparent;
    font-size: 14px;
    overflow: scroll;
    outline: none;

}
.postAddForm-item-addContent-wrap{
    width: 706px;
    height: 40px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: start;
    
}
.postAddForm-item-addContent-item-img{
    display: none;
}
.postAddForm-addPost-wrap-button{
    margin-top: -10px;
    width: 720px;
    height: 40px;
    display: flex;
    justify-content: end;
    align-items:center;
   
}
.postAddForm-addPost-item-button{
    width: 102px;
    height: 35px;
    background: #150AA1;
    color:white;
    border-radius:10px;
    border:0px solid transparent;
    cursor: pointer;

}